Форматы информационного взаимодействия по 44-ФЗ/Схемы/Схемы ЕРУЗ 11.0 Итерация 2/Internal/LKP-ESMV/eruzEsmvBaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ERUZ ESMV BASE TYPES Integration Scheme, version 11.0, create date 03.11.2020 -->
<xs:schema xmlns="http://zakupki.gov.ru/eruz/esmv/types/base/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/eruz/esmv/types/base/1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="tAccountNumber">
		<xs:annotation>
			<xs:documentation>Тип: Номер лицевого счета</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tApplicationNum">
		<xs:annotation>
			<xs:documentation>Тип: Номер заявки на резервирование лицевого счёта</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tAltName">
		<xs:annotation>
			<xs:documentation>Тип: Краткое наименование</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="160"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tBankAccountNumber">
		<xs:annotation>
			<xs:documentation>Тип: Номер банковского счета</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tBIK">
		<xs:annotation>
			<xs:documentation>Тип: БИК</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tBudgetCode">
		<xs:annotation>
			<xs:documentation>Тип: Код бюджета</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tBudgetLevel">
		<xs:annotation>
			<xs:documentation>Тип: Уровень бюджета:
1 - Федеральный;
2 - Региональный;
3 - Местный</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tCountryName">
		<xs:annotation>
			<xs:documentation>Тип: Полное наименование страны</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tContractRegNum">
		<xs:annotation>
			<xs:documentation>Тип: Номер реестровой записи государственного контракта</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="19"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tContractStage">
		<xs:annotation>
			<xs:documentation>Тип: Состояние контракта
E 	Исполнение
ET	Исполнение прекращено
EC	Исполнение завершено
IN	Aннулировано</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="E"/>
			<xs:enumeration value="ET"/>
			<xs:enumeration value="EC"/>
			<xs:enumeration value="IN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tContractTextCode">
		<xs:annotation>
			<xs:documentation>Тип: Код контракта</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tConfirmationResult">
		<xs:annotation>
			<xs:documentation>Тип: Результат приема пакета </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="success"/>
			<xs:enumeration value="failure"/>
			<xs:enumeration value="processing"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tErrorLevel">
		<xs:annotation>
			<xs:documentation>Тип: Уровень ошибки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ERROR"/>
			<xs:enumeration value="WARNING"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tFileType">
		<xs:annotation>
			<xs:documentation>Тип файла</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="pdf"/>
			<xs:enumeration value="docx"/>
			<xs:enumeration value="doc"/>
			<xs:enumeration value="rtf"/>
			<xs:enumeration value="xls"/>
			<xs:enumeration value="xlsx"/>
			<xs:enumeration value="jpeg"/>
			<xs:enumeration value="jpg"/>
			<xs:enumeration value="bmp"/>
			<xs:enumeration value="tif"/>
			<xs:enumeration value="tiff"/>
			<xs:enumeration value="txt"/>
			<xs:enumeration value="zip"/>
			<xs:enumeration value="rar"/>
			<xs:enumeration value="gif"/>
			<xs:enumeration value="csv"/>
			<xs:enumeration value="odp"/>
			<xs:enumeration value="odf"/>
			<xs:enumeration value="ods"/>
			<xs:enumeration value="odt"/>
			<xs:enumeration value="sxc"/>
			<xs:enumeration value="sxw"/>
			<xs:enumeration value="xml"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tFIO">
		<xs:annotation>
			<xs:documentation>Тип: ФИО, объединённое в одну строку</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="180"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tGUID">
		<xs:annotation>
			<xs:documentation>Тип: Глобальный идентификатор</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tIGK">
		<xs:annotation>
			<xs:documentation>Тип: Идентификатор государственного контракта (ИГК)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tIKZ">
		<xs:annotation>
			<xs:documentation>Тип: Индивидуальный код закупки (ИКЗ)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{36}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tINN">
		<xs:annotation>
			<xs:documentation>Тип: ИНН</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{10,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tINNOrganization">
		<xs:annotation>
			<xs:documentation>Тип: ИНН организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tINNIndividual">
		<xs:annotation>
			<xs:documentation>Тип: ИНН ФЛ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tIPandKFHCode">
		<xs:annotation>
			<xs:documentation>Тип: Код по реестру ИП и КФХ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tKPP">
		<xs:annotation>
			<xs:documentation>Тип: КПП</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tKLADRCode">
		<xs:annotation>
			<xs:documentation>Тип: Код по КЛАДР</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tKLADRObjCode">
		<xs:annotation>
			<xs:documentation>Тип: Код объекта структуры КЛАДР</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tKLADRObjName">
		<xs:annotation>
			<xs:documentation>Тип: Наименование бъекта структуры КЛАДР</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tKSNumber">
		<xs:annotation>
			<xs:documentation>Тип: Номер казначейского счета</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tName">
		<xs:annotation>
			<xs:documentation>Тип: ФИО</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tOKVEDCode">
		<xs:annotation>
			<xs:documentation>Тип: Код ОКВЭД</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tOKVEDName">
		<xs:annotation>
			<xs:documentation>Тип: Наименование ОКВЭД</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tOKFSCode">
		<xs:annotation>
			<xs:documentation>Тип: Код ОКФС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tOGRNCode">
		<xs:annotation>
			<xs:documentation>Тип: Код ОГРН</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tOGRNIPCode">
		<xs:annotation>
			<xs:documentation>Тип: Код ОГРНИП</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tOKOPFCode">
		<xs:annotation>
			<xs:documentation>Тип: Код ОКОПФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tOKPOCode">
		<xs:annotation>
			<xs:documentation>Тип: Код ОКОПФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
			<xs:pattern value="\d{8}|\d{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tOKTMOCode">
		<xs:annotation>
			<xs:documentation>Тип: Код ОКТМО</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tOKSMCode">
		<xs:annotation>
			<xs:documentation>Тип: Цифровой код страны</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPercent">
		<xs:annotation>
			<xs:documentation>Тип: Процент. Представляется действительным числом с десятичным разделителем, содержащим не более 3 знаков до разделителя и не более 2 знаков после разделителя (в качестве десятичного разделителя используется символ «.»).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:maxInclusive value="100"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPosition">
		<xs:annotation>
			<xs:documentation>Тип: Должность</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tPhone">
		<xs:annotation>
			<xs:documentation>Тип: Номер телефона/факса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tProtocolNumber">
		<xs:annotation>
			<xs:documentation>Тип: Код протокола о несоотвествии</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tRegionCode">
		<xs:annotation>
			<xs:documentation>Тип: Двухзначный код региона</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tRequestPAEnum">
		<xs:annotation>
			<xs:documentation>Тип: Тип заявления ЛС:
0 - Резервирование;
1 - Открытие</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSchemeVersion">
		<xs:annotation>
			<xs:documentation>Тип: Версия схемы</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSignature">
		<xs:annotation>
			<xs:documentation>Тип подписи</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CAdES-BES"/>
			<xs:enumeration value="CAdES-A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSNILS">
		<xs:annotation>
			<xs:documentation>Тип: СНИЛС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tStatusResultCode">
		<xs:annotation>
			<xs:documentation>Тип: Результат включения сведений о субподрядном договоре в перечень документов-оснований</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSum">
		<xs:annotation>
			<xs:documentation>Тип: Сумма</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="21"/>
			<xs:pattern value="(-)?\d+(\.\d{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tSvRCode">
		<xs:annotation>
			<xs:documentation>Тип: Код по Сводному реестру</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tTOFKCode">
		<xs:annotation>
			<xs:documentation>Тип: Код ТОФК</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tText50">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 50 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tText100">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 100 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tText1000">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 1000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tText2000">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 2000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tYear">
		<xs:annotation>
			<xs:documentation>Тип: Год</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="2016"/>
			<xs:maxInclusive value="2100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tZip">
		<xs:annotation>
			<xs:documentation>Тип: Индекс</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
