Форматы информационного взаимодействия по 44-ФЗ/Схемы/Схемы ЕРУЗ 9.2 итерация 2/eruzBaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ERUZ BASE TYPES Integration Scheme, version 9.2, create date 30.05.2019 -->
<xs:schema xmlns="http://zakupki.gov.ru/eruz/base/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/eruz/base/1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--Ссылки на НСИ-->
	<!--Ссылки на общие справочники-->
	<!--Простые типы-->
	<xs:simpleType name="accessRightsType">
		<xs:annotation>
			<xs:documentation>Тип: Права доступа пользователей:SSE - Подписание государственного контракта;SAEP - Подача заявки в электронных процедурах;PRDO - размещение регистрационных данных организации;UR - Регситрация пользователей.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SSE"/>
			<xs:enumeration value="SAEP"/>
			<xs:enumeration value="PRDO"/>
			<xs:enumeration value="UR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="confirmationResultType">
		<xs:annotation>
			<xs:documentation>Тип: Результат приема пакета </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="success"/>
			<xs:enumeration value="failure"/>
			<xs:enumeration value="processing"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Цифровой код страны</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eMailType">
		<xs:annotation>
			<xs:documentation>Тип: Адрес электронной почты</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="etpCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Кодовое наименование электронной площадки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="errorLevelType">
		<xs:annotation>
			<xs:documentation>Тип:Уровень ошибки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ERROR"/>
			<xs:enumeration value="WARNING"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eruzRegistryNumType">
		<xs:annotation>
			<xs:documentation>Тип: Номер реестровой записи в ЕРУЗ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fileSizeType">
		<xs:annotation>
			<xs:documentation>Тип: Размер файла</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fileHashType">
		<xs:annotation>
			<xs:documentation>Тип: Hash файла</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:simpleType name="fileNameType">
		<xs:annotation>
			<xs:documentation>Тип: Имя файла</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1024"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="guidType">
		<xs:annotation>
			<xs:documentation>Тип: Глобальный идентификатор</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="hrefType">
		<xs:annotation>
			<xs:documentation>Тип: Гиперссылка</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="indexModeType">
		<xs:annotation>
			<xs:documentation>Тип: Перечисление режимов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PROD"/>
			<xs:enumeration value="TEST"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="indexNumType">
		<xs:annotation>
			<xs:documentation>Тип: Порядковый номер пакета данных в AS2-пакете</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="indexObjectTypeEnum">
		<xs:annotation>
			<xs:documentation>Тип: Перечисление типов объектов:
			
ЕРУЗ - Единый реестр участников закупок (ЕРУЗ);

</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ERUZ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="innIndividualType">
		<xs:annotation>
			<xs:documentation>Тип: ИНН физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="innOrganizationType">
		<xs:annotation>
			<xs:documentation>Тип: ИНН организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="internationalPassportRFNumberType">
		<xs:annotation>
			<xs:documentation>Тип: Номер заграничного паспорта РФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KLADRCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код по КЛАДР</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="23"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kppType">
		<xs:annotation>
			<xs:documentation>Тип: КПП</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="moneyType">
		<xs:annotation>
			<xs:documentation>Тип: Сумма</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="21"/>
			<xs:pattern value="(-)?\d+(\.\d{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="moneyMaxLengthToPoint21Type">
		<xs:annotation>
			<xs:documentation>Тип: Неотрицательная сумма c максимальной длиной до точки 21 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
			<xs:minLength value="1"/>
			<xs:pattern value="\d{1,21}(\.\d{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameType">
		<xs:annotation>
			<xs:documentation>Тип: ФИО</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OGRNCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код ОГРН</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OGRNIPCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код ОГРНИП</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKVEDType">
		<xs:annotation>
			<xs:documentation>Тип: Код ОКВЭД</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="2"/>
			<xs:maxLength value="8"/>
			<xs:pattern value="[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{1}"/>
			<xs:pattern value="[0-9]{2}\.[0-9]{2}\.[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKOPFCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код ОКОПФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="passportRFSeriesType">
		<xs:annotation>
			<xs:documentation>Тип: Серия паспорта гражданина РФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="passportRFNumberType">
		<xs:annotation>
			<xs:documentation>Тип: Номер паспорта гражданина РФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="passportRFDivCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код подразделения, выдавшего паспорт гражданина РФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7" fixed="false"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="passportLENumberType">
		<xs:annotation>
			<xs:documentation>Тип: Номер паспорта иностранного гражданина</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="permamentResidencySeriesType">
		<xs:annotation>
			<xs:documentation>Тип: Серия вида на жительство РФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="permamentResidencyNumberType">
		<xs:annotation>
			<xs:documentation>Тип: Номер вида на жительство РФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="phoneType">
		<xs:annotation>
			<xs:documentation>Тип: Номер телефона/факса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="printFormFileType">
		<xs:annotation>
			<xs:documentation>Тип файла печатной формы</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="pdf"/>
			<xs:enumeration value="docx"/>
			<xs:enumeration value="doc"/>
			<xs:enumeration value="rtf"/>
			<xs:enumeration value="xls"/>
			<xs:enumeration value="xlsx"/>
			<xs:enumeration value="jpeg"/>
			<xs:enumeration value="jpg"/>
			<xs:enumeration value="bmp"/>
			<xs:enumeration value="tif"/>
			<xs:enumeration value="tiff"/>
			<xs:enumeration value="txt"/>
			<xs:enumeration value="zip"/>
			<xs:enumeration value="rar"/>
			<xs:enumeration value="gif"/>
			<xs:enumeration value="csv"/>
			<xs:enumeration value="odp"/>
			<xs:enumeration value="odf"/>
			<xs:enumeration value="ods"/>
			<xs:enumeration value="odt"/>
			<xs:enumeration value="sxc"/>
			<xs:enumeration value="sxw"/>
			<xs:enumeration value="xml"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="regionCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код региона</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="schemeVersionType">
		<xs:annotation>
			<xs:documentation>Тип: Версия схемы</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="9.0"/>
			<xs:enumeration value="9.0.100"/>
			<xs:enumeration value="9.1"/>
			<xs:enumeration value="9.2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="signatureType">
		<xs:annotation>
			<xs:documentation>Тип подписи</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CAdES-BES"/>
			<xs:enumeration value="CAdES-A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SNILSType">
		<xs:annotation>
			<xs:documentation>Тип: СНИЛС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="taxPayerCode">
		<xs:annotation>
			<xs:documentation>Тип: Код налогоплательщика в стране регистрации или его аналог</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tempResPermitRFNumberType">
		<xs:annotation>
			<xs:documentation>Тип: Номер разрешения на временное проживание в РФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1,50}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="text10Type">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 10 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="text36Type">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 36 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="text50Type">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 50 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="text200Type">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 200 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="text255Type">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 255 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="text300Type">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 300 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="300"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="text500Type">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 500 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="text510Type">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 510 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="510"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="text1000Type">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 1000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="text2000Type">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 2000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="text3000Type">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 3000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3000"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="text4000Type">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 4000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positionType">
		<xs:annotation>
			<xs:documentation>Тип: Должность сотрудника организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="timeZoneNameType">
		<xs:annotation>
			<xs:documentation>Тип: Наименование часового пояса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="timeZoneDifferenceType">
		<xs:annotation>
			<xs:documentation>Тип: Разница во времени</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[+\-]?\d{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="userAuthorityType">
		<xs:annotation>
			<xs:documentation>Тип: Полномочия пользователя:H - руководитель;A - администратор;AS - уполномоченный специалист</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="H"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="AS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="userStatusType">
		<xs:annotation>
			<xs:documentation>Тип: Статус пользователя:A - активный;B - заблокирован</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="versionNumberType">
		<xs:annotation>
			<xs:documentation>Тип: Номер версии</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ZIPCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Почтовый индекс</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
