Форматы информационного взаимодействия по 44-ФЗ/Схемы/Схемы 6.2/WSDL сервисов отдачи/WebServiceDocsPRIZ.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:sch="http://zakupki.gov.ru/fz44/ws/priz"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://zakupki.gov.ru/fz44/ws/priz">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://zakupki.gov.ru/fz44/ws/priz"
                        schemaLocation="docs-ws-api.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getPRIZObjectInfoResponse">
        <wsdl:part element="sch:getPRIZObjectInfoResponse" name="getPRIZObjectInfoResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPRIZObjectInfoRequest">
        <wsdl:part element="sch:getPRIZObjectInfoRequest" name="getPRIZObjectInfoRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPRIZObjectListRequest">
        <wsdl:part element="sch:getPRIZObjectListRequest" name="getPRIZObjectListRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPRIZObjectListResponse">
        <wsdl:part element="sch:getPRIZObjectListResponse" name="getPRIZObjectListResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GetDataPortType">
        <wsdl:operation name="getPRIZObjectInfo">
            <wsdl:input message="sch:getPRIZObjectInfoRequest" name="getPRIZObjectInfoRequest"></wsdl:input>
            <wsdl:output message="sch:getPRIZObjectInfoResponse" name="getPRIZObjectInfoResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPRIZObjectList">
            <wsdl:input message="sch:getPRIZObjectListRequest" name="getPRIZObjectListRequest"></wsdl:input>
            <wsdl:output message="sch:getPRIZObjectListResponse" name="getPRIZObjectListResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetDataPortTypeSoap11" type="sch:GetDataPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPRIZObjectInfo">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPRIZObjectInfoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPRIZObjectInfoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPRIZObjectList">
            <soap:operation soapAction=""/>
            <wsdl:input name="getPRIZObjectListRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPRIZObjectListResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetDataPortTypeService">
        <wsdl:port binding="sch:GetDataPortTypeSoap11" name="GetDataPortTypeSoap11">
            <soap:address location="${serviceLocation}"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>