Форматы информационного взаимодействия по 44-ФЗ/Схемы/Схемы ЕРУЗ 11.0 Итерация 2/External/ESMV/NSI/ELS_common.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Дата последнего изменения: 29.01.2019 -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://www.roskazna.ru/eb/domain/common" targetNamespace="http://www.roskazna.ru/eb/domain/common">
	<simpleType name="tFormularTypes">
		<restriction base="string">
			<enumeration value="formular"/>
			<enumeration value="dictionary"/>
			<enumeration value="service"/>
		</restriction>
	</simpleType>
	<complexType name="tFormular" abstract="true">
		<attribute name="metaType" type="cmn:tFormularTypes" use="optional"/>
		<attribute name="version" use="required"/>
	</complexType>
	<simpleType name="tGuid">
		<annotation>
			<documentation>Глобальный идентификатор.
                http://tools.ietf.org/html/rfc4122</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
		</restriction>
	</simpleType>
	<complexType name="extraData">
		<sequence>
			<any maxOccurs="unbounded"/>
		</sequence>
	</complexType>
</schema>
